body{
    background-image: url("http://cdn.playbuzz.com/cdn/35910209-2844-45c0-b099-f4d82878d54f/00261fda-4062-4096-81fd-8cf96b9034e8.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#title{
    background: yellow;
    margin-top: 5%;
    width: 15%;
    height: 40%;
    padding: 2%;
    font-size: 20px;
}
#instructions{
    background: skyblue;
    width: 30%;
    padding: 5%;
}
#score{
    background: pink;
    width: 40%;
    padding: 5%;
}
#counter{
    float: right;
}
#crystals{
    background: white;
}
#total-score{
    background: limegreen;
    padding: 5%;
    width: 20%;
}