body{
    background-image: url("http://cdn.playbuzz.com/cdn/35910209-2844-45c0-b099-f4d82878d54f/00261fda-4062-4096-81fd-8cf96b9034e8.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
#title{
    background: yellow;
    width: 15%;
    padding: 2%;
    font-size: 18px;
}
#instructions{
    background: skyblue;
    width: 30%;
    padding: 2%;
    font-size: 18px;
}
#score{
    background: pink;
    width: 40%;
    padding: 5%;
    font-size: 18px;
}
#counter{
    float: right;
}
#crystals{
    background: white;
    width: 50%;
    float: left;
}
#total-score{
    background: limegreen;
    padding: 5%;
    width: 20%;
    font-size: 18px;
}
.crystal-images{
    width: 100px;
    height: 100px;
}